*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    top: 0;
    font-family: 'Roboto', sans-serif;
    color: white
}

*::-webkit-scrollbar {
    /* display: none; */
    /* Customize the scrollbar width */
}

*::-webkit-scrollbar-track {
    /* Customize the scrollbar track */
}

*::-webkit-scrollbar-thumb {
    /* Customize the scrollbar thumb */
}


body{
    /* background-color: #ef8f21; */
    background-color: #000018;
}