.esdewed{

    background-color: #ef8f21;

    /* Body */
    background-color: #000018;

    /* Tarjetas */
    background-color: #252847;

    /* Logo */
    background-color: #134153;
    /* Logo 2 */
    background-color: #0d436f;

    background-color: #1a6c6c;

    background-color: #00a4a4;

    background-color: #28d2d2;

    

}